<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Products list</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="(allProducts$ | async) || []">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef>Note</th>
        <td mat-cell *matCellDef="let element">{{ element.note }}</td>
      </ng-container>

      <ng-container matColumnDef="components">
        <th mat-header-cell *matHeaderCellDef>Components</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-set>
            <mat-chip *ngFor="let component of element.components">{{ component }}</mat-chip>
          </mat-chip-set>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <div class="actions">
            <button mat-mini-fab color="primary">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="primary" (click)="deleteProduct(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
